<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/addMovie.css">
    <title>Movie Details</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-top: 20px;
        }

        a {
            margin-top: 10px;
            color: #4285f4;
            text-decoration: none;
            font-weight: bold;
        }

        .movieDetailsContainer {
            display: flex;
            align-items: center;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: hidden;
            margin: 20px;
            width: 80%;
        }

        .posterContainer img {
            width: 200px;
            height: auto;
            border-right: 1px solid #ddd;
        }

        .detailsTextContainer {
            padding: 20px;
        }

        .detailsTextContainer h2 {
            margin: 0 0 10px;
            color: #333;
        }

        .detailsTextContainer p {
            margin: 5px 0;
            color: #666;
        }

        .formContainer {
            background: #fff;
            padding: 20px;
            margin: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: 80%;
        }

        .formContainer label {
            display: block;
            margin: 10px 0 5px;
            color: #333;
        }

        .formContainer input[type="text"] {
            width: 100%;
            padding: 8px;
            margin: 5px 0 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .submit-btn {
            background-color: #4285f4;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s ease;
        }

        .submit-btn:hover {
            background-color: #3367d6;
        }

        p {
            text-align: center;
        }

        p[style="color: red;"],
        p[style="color: green;"] {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Add Movie</h1>
    <a href="/">Go to Dashboard</a>

    <div class="movieDetailsContainer">
        <div class="posterContainer">
            <img src="https://image.tmdb.org/t/p/original/{{movieDetails.poster_path}}" alt="Movie Poster">
        </div>

        <div class="detailsTextContainer">
            <h2>{{movieDetails.title}}</h2>
            <p style="font-size: 0.8em; margin-bottom:5px">{{movieDetails.overview}}</p>
            <p style="font-size: 0.8em; font-weight: bold;">{{movieDetails.release_date}} • {{movieDetails.genres}} • {{movieDetails.runtime}}mins</p>
        </div>
    </div>

    <form class="formContainer" action="/add-movie-details" method="post">

        <label for="id">MovieID:</label>
        <input type="text" id="id" name="id" value="{{movieDetails.id}}" />

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{movieDetails.title}}" />

        <label for="originalTitle">Original Title:</label>
        <input type="text" id="originalTitle" name="original_title" value="{{movieDetails.original_title}}" />

        <label for="overview">Overview:</label>
        <input type="text" id="overview" name="overview" value="{{movieDetails.overview}}" />

        <label for="ratings">Ratings:</label>
        <input type="text" id="ratings" name="ratings" value="{{movieDetails.vote_average}}" />

        <label for="backdropPath">Backdrop Path:</label>
        <input type="text" id="backdropPath" name="backdrop_path" value="{{movieDetails.backdrop_path}}" />

        <label for="genreIds">Genre ID:</label>
        <input type="text" id="genreIds" name="genreIds" value="{{movieDetails.genreIds}}" />

        <label for="genres">Genres:</label>
        <input type="text" id="genres" name="genres" value="{{movieDetails.genres}}" />

        <label for="budget">Budget:</label>
        <input type="text" id="budget" name="budget" value="{{movieDetails.budget}}" />

        <label for="popularity">Popularity:</label>
        <input type="text" id="popularity" name="popularity" value="{{movieDetails.popularity}}" />

        <label for="posterPath">Poster Path:</label>
        <input type="text" id="posterPath" name="poster_path" value="{{movieDetails.poster_path}}" />

        <label for="productionCompanies">Production Companies:</label>
        <input type="text" id="productionCompanies" name="production_companies" value="{{movieDetails.production_companies}}" />

        <label for="releaseDate">Release Date:</label>
        <input type="text" id="releaseDate" name="release_date" value="{{movieDetails.release_date}}" />

        <label for="revenue">Revenue:</label>
        <input type="text" id="revenue" name="revenue" value="{{movieDetails.revenue}}" />

        <label for="runtime">Runtime:</label>
        <input type="text" id="runtime" name="runtime" value="{{movieDetails.runtime}}" />

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="{{movieDetails.status}}" />

        <label for="watchProviders">Watch Providers:</label>
        <input type="text" id="watchProviders" name="watchProviders" value="{{movieDetails.watchProviders}}" />

        <label for="logos">Movie Logo:</label>
        <input type="text" id="logos" name="logos" value="{{movieDetails.logoFilePath}}" />

        <label for="downloadLink">Download Link:</label>
        <input type="text" id="downloadLink" name="downloadLink" placeholder="Enter download link" />
        <button class="submit-btn" type="submit">Add Movie</button>
    </form>

    {{#if errorMessage}}
    <p style="color: red;">{{errorMessage}}</p>
    {{/if}}

    {{#if successMessage}}
    <p style="color: green;">{{successMessage}}</p>
    {{/if}}
</body>

</html>
